body {
	background: url(black_jack/carpet.jpg);
}


/******************
*******=banner*****
******************/
#banner {
	background:url(black_jack/sign.jpg);
	height:142px;
	width:1000px;
	margin:auto;
	margin-bottom:75px;
	margin-top: 20px;
	box-shadow:
	0 0 0 10px rgb(146,26,25);
}

/******************
*******=table*****
******************/

#table {
	overflow: hidden;
	margin:auto;
	width: 1000px;
	height: 400px;
	background: url(black_jack/felt_table.jpg);
	border-radius:100px;
	box-shadow: 
	0 0 10px 2px black,
	0 0 0 20px rgb(103,10,10),
	0 0 10px 25px black;

	
}

/******************
*******=buttons*****
******************/

#hit, #start, #stay, #double, #split, #new_game{
	width:90%;
	height:100%;
	font-size: 20px;
	font-weight:bold;
	color:rgb(230,230,230);
	background: rgb(10,10,10);
	border-radius: 40px;
	border: 3px solid rgb(146,26,25);
	margin:10px;
	text-align: center;
	cursor: pointer;
	position: relative;
	right:2%;
	padding:5px;

}

#hit:hover, #start:hover, #stay:hover,#double:hover,#split:hover, #new_game:hover {
	background: white;
	border:3px solid rgb(10,10,10);
	color:rgb(146,26,25);
}

/******************
*******=scores*****
******************/

#scores {
	z-index: 2000px;
	float:right;
	
	
	

}
#scores ul{
	margin:auto;
	width:250px;


}

#misc ul {
	
	width:70%;
	margin:auto;
	text-align: center;
	border-radius: 10px;
}
#misc li {
	font-weight:bold;
	display:inline;
}

#scores li{
	display: inline;
	font-weight:bold;
}

#player1,#player2,#dealer,#winnings,#amount_bet {
	font-size:22px;
	font-family: courier;
	font-weight:bold;
	color:white;
}
#player2 {
	margin-bottom:10px;
}

#winnings, #amount_bet{
	padding-bottom:5px;
	margin-left:14%;
}


/******************
*******=sidebar*****
******************/
#sidebar {
	margin-top: 20px;
	margin-bottom:50px;
}
#sidebar ul {
	margin:auto;
	width:1000px;
	text-align: center;
}

#sidebar li{
	display: inline-table;
	margin:auto;
	margin-left:3px;
	margin-right:3px;

}

/******************
*******=cards*****
******************/

#dealer-cards, #cards, #hand2-cards{
	width:550px;
	margin-left:30px;
	margin-right:10px;
	padding:0px;
	float:left;
	overflow: hidden;

}



#dealer-cards img, #cards img, #hand2-cards img{
	padding: 5px;
}
#players_hands {
	list-style: none;
}

#players_hands li {
	display: inline;
}



/******************
*******=misc*****
******************/

#misc {
	height: 30px;
	z-index:10000px;
	margin:auto;
	position:relative;
	top:30%;
}

/******************
*******=chips*****
******************/
#chips li {
	display: inline-table;
}

#red, #white, #blue {
	width:50px;
	height:50px;
	}


#red {
	background-color: #009999;
}

#white {
	background-color: black;
}

#blue {
	background-color:orange;
}

#white:hover, #red:hover, #blue:hover {
	cursor: pointer;
}

/******************
*******=result*****
******************/
#result, #result2{
	width:100%;
	font-size:41px;
	z-index:1000px;
	padding:15px;
	padding-left:0px;
	margin:auto;
	display:inline-block;
	font-family: courier;
	position: relative;
	left:12%;
}
#result {
	color:white;
}

#result2 {
	color: #009999;
}

div.fish {
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
	border: 7px dotted #ccc;
}

div.fish div {
	color: rgba(230,230,230,0.9);
    font-family: Verdana;
    text-align: center;
    line-height: 50px;
    font-size: 1.7em;
}

div.white {
	background: #333;
	box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,100,255, 0.2);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,100,255, 0.2);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,100,255, 0.2);
    
}

div.red {
	background: #333;
	box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,51, 0.2);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,51, 0.2);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,51, 0.2);
    
}

div.blue {
	background: white;
	box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    
}

